/* Page Layout */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: aliceblue;
}

/* Card Container */
.login-container {
  display: flex;
  flex-direction: column;
  background: white;
  width: 400px;
  border-radius: 15px;
  border: 4px solid rgb(132, 153, 176);
  padding: 30px;
}

/* Header Section */
.header { 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.text {
  font-size: 30px;
  color: black;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Inputs */
.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  margin: 5px 0;
  width: 250px;
}

.input input {
  font-size: 15px;
  padding: 10px;
  width: 225px;
  background-color: aliceblue;
  border: 2px solid gray;
  border-radius: 5px;
  outline: none;
}

/* Forgot Password */
.forgot-password {
  font-size: 15px;
  color: black;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
}

.forgot-password span {
  text-decoration: underline;
}

/* Switch Buttons */
.submit-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;
}

.submit {
  background-color: rgb(69, 62, 165);
  color: white;
  font-size: 18px;
  padding: 10px 35px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.2s;
}

.submit.active {
  opacity: 1;
}

/* Main Submit Button */
.main-submit-btn {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #453ea5;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
